@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
}

*::selection{
  background-color: #f3f0fa;
  color:  #395886;
}

*::-webkit-scrollbar {
    display: none;
  }

*{
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.icon{
    padding-left: 10px;
}

.btn{
    @apply text-[#f0f4fa] mt-[70px] px-4 py-2 bg-[#8aaee0] rounded-md;
    position:relative;
    border:none;
    transition: .4s ease-in;
    z-index:1;
    overflow: hidden;
}
.btn::before,
.btn::after{
    position:absolute;
    content:'';
    z-index:-1;
}

.btn::after{
    background: #f0f3fa;
    height:100%;
    left:-35%;

    top:0;
    transform:skew(50deg);
    transition-duration: .6s;
    transform-origin: top left;
    width:0;
}

.btn:hover{
    color:#395886;
}

.btn:hover:after{
    height:100%;
    width:135%;
}

body {
    margin: 0;
    background-color: #628ecb;
}

.block-container {
    position: relative;
    transition: 250ms;
    perspective: 500px;
}

.block-container .btn-back {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
    box-shadow: 0 0 3px #e4e4e4;
}

.block-container .btn-front {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-color: #ffffff89;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: top left;
    overflow: hidden;
}

.block-container:hover > .btn-back {
    transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
    transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}